@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {
  font-family: 'Happy Monkey', cursive;
  margin: 0;
  padding: 0;
}

.recent-flex {
  display: flex;
  flex-direction: column;
  margin-left: -26px;
  width: 100%;
}

h1 {
  margin-left: 10px;
  margin-top: 30px;
}

.recent-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 30px;
  gap: 20px;
}

#reset-btn {
  cursor: pointer;
  border: 2px solid black;
  font-family: 'Happy Monkey', cursive;
}

.recent {
  margin-top: -1px;
  width: 220px;
  margin-left: 50px;
}

.my-list {
  margin-left: 50px;
  border: 2px solid black;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  width: auto;
  padding: 10px 15px 8px 25px;
  margin-left: -40px;
  height: 30px;
  list-style: none;
}

li:nth-child(2n +1) {
  background: #9b9898;
}

.add-score {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.score-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-left: 25px;
  margin-right: -25px;
}

.score-title {
  margin-left: 25px;
}

input {
  font-family: 'Happy Monkey', cursive;
  height: 30px;
  border: 2px solid black;
  margin-right: 50px;
}

.btn {
  display: flex;
  justify-content: right;
  margin-right: 50px;
}

#submit-btn {
  margin-bottom: 40px;
  cursor: pointer;
  font-family: 'Happy Monkey', cursive;
  border: 2px solid black;
  display: flex;
  width: 70px;
  height: 30px;
  padding-top: 6px;
  justify-content: center;
}

.fas.fa-user-circle {
  font-size: 1.8em;
  width: 50px;
}

.container-board {
  overflow: hidden;
  padding-top: 15px;
  margin-bottom: 30px;
  border-radius: 30px;
  background-color: rgb(170, 99, 236);
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  position: static;
  width: 100%;
  background-color: #9b9898;
  display: flex;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 10px;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  h1 {
    margin-left: 120px;
  }

  .recent-flex {
    margin-top: 70px;
    width: 100%;
  }

  .score-flex {
    width: 100%;
  }

  .add-score {
    margin-top: 50px;
  }

  .container-board {
    margin-bottom: 80px;
    width: 70%;
    margin-left: 135px;
    margin-right: 270px;
    background-color: rgb(170, 99, 236);
    margin-top: -10px;
    display: grid;
    grid-template-columns: 55% 40%;
    justify-content: center;
  }
}
